1).What are data structures, and why are they important?

ANSWER)-Data structures organize and store data efficiently. They are crucial for managing data effectively, enabling faster access, modification, and processing in programs. I'll add this to the notebook.

 2).Explain the difference between mutable and immutable data types with examples

ANSWEER)-Mutable types like lists can be changed after creation (e.g., [1, 2].append(3)). Immutable types like strings cannot be modified after creation (e.g., changing a character in "hello" creates a new string). I'll add this to the notebook.

3).P What are the main differences between lists and tuples in Python?

ANSWER)-Lists are mutable, allowing elements to be added, removed, or changed (using []). Tuples are immutable; their elements cannot be changed after creation (using ()). Lists are generally used for collections of similar items, while tuples are for heterogeneous data. I'll add this to the notebook.

4).Describe how dictionaries store data.

ANSWER)-Dictionaries store data as key-value pairs. Each unique key maps to a specific value. This structure allows for efficient data retrieval based on the key, making them ideal for associating related pieces of information. I'll add this to the notebook.

 5).Why might you use a set instead of a list in Python?

ANSWER)-
You might use a set instead of a list in Python when you need a collection of unique items and the order doesn't matter. Sets automatically handle duplicates and provide fast operations for checking membership and performing set operations like union and intersection. I'll add this to the notebook.

6).What is a string in Python, and how is it different from a list?

ANSWER)-A string in Python is an immutable sequence of characters used to represent text. Unlike lists, which are mutable sequences that can hold elements of various data types, strings can only contain characters and cannot be modified in-place. I'll add this to the notebook.

7).How do tuples ensure data integrity in Python?

ANSWER)-Tuples ensure data integrity through immutability. Once created, their elements cannot be changed. This prevents accidental modification of data, making them suitable for storing fixed collections where data should remain constant throughout the program's execution. I'll add this to the notebook.

8).What is a hash table, and how does it relate to dictionaries in Python?

ANSWER)-A hash table is a data structure that stores data in key-value pairs using a hash function for fast lookups. Python dictionaries are implemented using hash tables. This underlying structure allows dictionaries to provide efficient average-case time complexity for operations like insertion, deletion, and retrieval.

9).Can lists contain different data types in Python?

ANSWER)-Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, and even other lists or objects, within the same list. I'll add this to the notebook.

10).Explain why strings are immutable in Python.

ANSWER)-Strings are immutable in Python because their characters cannot be changed after creation. This ensures data integrity and allows them to be used as dictionary keys. I'll add this to the notebook.

11).What advantages do dictionaries offer over lists for certain tasks?

ANSWER)-Dictionaries offer advantages over lists for tasks requiring fast lookups and retrieval of data based on a key. They are ideal for representing relationships between data points and for efficient data organization when the order of elements is not important. I'll add this to the notebook.

12).Describe a scenario where using a tuple would be preferable over a list.

ANSWER)-A scenario where using a tuple would be preferable over a list is when you have a collection of items that should not be changed, such as coordinates (latitude, longitude) or RGB color values (red, green, blue). Tuples ensure data integrity by preventing accidental modification. I'll add this to the notebook.

13).How do sets handle duplicate values in Python?

ANSWER)-Sets in Python automatically handle duplicate values by only storing one instance of each unique element. When you add a duplicate element to a set, it is simply ignored. I'll add this to the notebook.

14).How does the “in” keyword work differently for lists and dictionaries?

ANSWER)-The "in" keyword checks for membership. For lists, it checks if an element is present in the list. For dictionaries, it checks if a key exists in the dictionary. It does not check for values directly in dictionaries. I'll add this to the notebook.

15).Can you modify the elements of a tuple? Explain why or why not.

ANSWER)-No, you cannot modify the elements of a tuple after it's created because tuples are immutable data types in Python. Once a tuple is defined, its contents are fixed, ensuring data integrity. I'll add this to the notebook.

16).What is a nested dictionary, and give an example of its use case?

ANSWER)-A nested dictionary is a dictionary where the values are themselves dictionaries. This allows for hierarchical data structures. A common use case is representing structured data like JSON or storing information about multiple entities. I'll add this to the notebook.

 17).Describe the time complexity of accessing elements in a dictionary.

ANSWER)-The time complexity of accessing elements in a dictionary is O(1) on average. This means that the time it takes to retrieve a value associated with a key is constant, regardless of the size of the dictionary. However, in the worst-case scenario, it can be O(n) if there are many hash collisions. I'll add this to the notebook.

18).In what situations are lists preferred over dictionaries?

ANSWER)-Lists are preferred over dictionaries when the order of elements is important, when you need to access elements by their index, or when you have a collection of items without unique keys. They are also suitable for simple sequences of data where key-value association is not needed. I'll add this to the notebook.

19).Why are dictionaries considered unordered, and how does that affect data retrieval?

ANSWER)-Dictionaries were traditionally considered unordered because their internal hash-based implementation didn't guarantee insertion order. While newer Python versions preserve insertion order, you still access elements by key, not position. This is efficient for retrieving specific values but means you can't rely on index-based access or a fixed order for iteration in older Python versions. I'll add this to the notebook.

20).Explain the difference between a list and a dictionary in terms of data retrieval.

ANSWER-In terms of data retrieval, lists are accessed by their numerical index (position), while dictionaries are accessed by their unique keys. This makes dictionary lookups generally faster for specific items when you know the key, while lists are better for sequential access or when the position is important. I'll add this to the notebook.

----------------------------------PRACTICAL QUESTIONS---------------------------

21).Write a code to create a string with your name and print it.

In [ ]:
a = "ravi kumar tanti"
a

'ravi kumar tanti'

22).Write a code to find the length of the string "Hello World".

In [ ]:
my_code = "Hello World"
len(my_code)

11

23).Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
a = "Python Programming"
print(a[:3])

Pyt

24).Write a code to convert the string "hello" to uppercase.

In [ ]:
a = "hello"
a.upper()

'HELLO'

25).Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a = "I like apple"
a.replace("apple","orange")

'I like orange'

26).Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_lis = [1,2,3,4,5]
my_lis

[1, 2, 3, 4, 5]

27).Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1,2,3,4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

28).Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

29).Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a','b','c','d']
my_list[1]

'b'

30).Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
my_list

[50, 40, 30, 20, 10]

31). Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100,200,300)
my_tuple

(100, 200, 300)

32).Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

33).Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10,20,5,15)
min(my_tuple)

5

34). Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

35). Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
my_tuple = ("apple","banana","kiwi")
"kiwi" in my_tuple

True

36). Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set_a = {'a','b','c'}
set_a

{'a', 'b', 'c'}

37). Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1,2,3,4,5}
my_set.clear()
my_set

set()

38).Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1 = {1,2,3,4}
set1.remove(4)
set1

{1, 2, 3}

39).Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1 = {1,2,3}
s2 = {3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

 40).Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s1 = {1,2,3}
s2 = {2,3,4}
s1.intersection(s2)

{2, 3}

41). Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
s1 = {"name":"ravi","age":23,"city":"new delhi"}
s1

{'name': 'ravi', 'age': 23, 'city': 'new delhi'}

42).Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

43). Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

44).Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
my_dict

{'name': 'Bob', 'city': 'New York'}

45). Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
"city" in dict1

True

46). Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
a = [1,2,3,4]
b = (1,2,3,4)
c = {"name":"ravi","age":23}
print(a)
print(b)
print(c)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'ravi', 'age': 23}

47). Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [ ]:
my_list = [1,2,3,4,5]
my_list.sort()
my_list

[1, 2, 3, 4, 5]

48). Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["ravi","sanju","kumar","tanti"]
my_list[2]

'kumar'

49).Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name":"ravi","age":23}
dict2 = {"city":"new delhi","country":"india"}
dict1.update(dict2)
dict1

{'name': 'ravi', 'age': 23, 'city': 'new delhi', 'country': 'india'}

50). Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["ravi","sanju","kumar","tanti"]
set(my_list)

{'kumar', 'ravi', 'sanju', 'tanti'}